@model HomeVM
@{
    ViewData["Title"] = "Index";
    int settingNum = 1;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Experts</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Key</th>
                                        <th>Value</th>
                                        <th>Settings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var setting in Model.Settings)
                                    {
                                        <tr>
                                            <td>@settingNum</td>
                                            <td>@setting.Key</td>
                                            <td>@setting.Value</td>
                                            <td>
                                                <label class="btn btn-primary " asp-action="Detail" asp-route-id="@setting.Id">
                                                    <i class="mdi mdi-eye"></i>
                                                </label>
                                            </td>
                                            <td>
                                                <a asp-action="Update" asp-route-id="@setting.Id">
                                                    <label class="btn btn-warning">
                                                        <i class="mdi mdi-table-edit"></i>
                                                    </label>
                                                </a>
                                            </td>
                                            <td>
                                                <form asp-action="Delete" asp-route-id="@setting.Id" method="post" class="d-inline">
                                                    <button type="submit" class="btn btn-danger">
                                                        <i class="mdi mdi-delete"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        settingNum++;
                                    }

                                </tbody>
                            </table>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    @await Component.InvokeAsync("AdminFooter")
    <!-- partial -->
</div>

